@model Session
@{
    ViewData["Title"] = "Sessie Detail - Leerling";
}

<h2>@ViewData["Title"]</h2>

<div>
    <div class="form-group">
        <label>Nummer:</label>
        <input class="form-control" value="@Model.SessionId" readonly />
    </div>
    <div class="form-group">
        <label>Naam:</label>
        <input class="form-control" value="@Model.Name" readonly />
    </div>
    <div class="form-group">
        <label>Klasgroep:</label>
        <input class="form-control" value="@Model.Classgroup.ClassgroupName" readonly />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">Groep</th>
            <th style="width: 18%">Lid</th>
            <th style="width: 18%">Lid</th>
            <th style="width: 18%">Lid</th>
            <th style="width: 18%">Lid</th>
            <th style="width: 18%">Deelnemen</th>
            <th style="width: 18%">Checked in</th>
        </tr>
    </thead>

    @foreach (var group in ViewData["playgroups"] as IEnumerable<dotnet_g1e.Models.Domain.PlayGroup>)
    {
        var i = 0;
        <tr>
            <th>@group.Name</th>
            @foreach (var pupil in ViewData["pupils"] as IEnumerable<dotnet_g1e.Models.Domain.Pupil>)
            {
                <td>@pupil.FirstName</td>
                i++;
            }
            @while (i < 4)
            {
                <td></td>
                i++;
            }
                <td>
                    @if (group.ActiveSession)
                    {
                        <button type="button" class="btn btn-default" disabled>Neem deel</button>

                    }
                    else
                    {
                        <a class="btn btn-default" asp-controller="PupilDetail" asp-action="Join" asp-route-id="@Model.SessionId" asp-route-gid="@group.PlayGroupId">Neem deel</a>
                    }
                   
                </td>
            <td>
                    @if (group.ActiveSession) {
                        <input type="checkbox" checked="checked" onclick="return false" />
                    }
                    else
                    {
                        <input type="checkbox" onclick="return false" />
                    }
            </td>
        </tr>
    }
</table>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
</div>

