@model Session
@{
    ViewData["Title"] = "Sessie Detail - Leerling";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    <div class="form-group">
        <label>Number:</label>
        <input class="form-control" value="@Model.SessionId" readonly />
    </div>
    <div class="form-group">
        <label>Created on:</label>
        <input class="form-control" value="@Model.DateOfCreation" readonly />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" value="@Model.Description" readonly />
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" value="@Model.Name" readonly />
    </div>
    <div class="form-group">
        <label>Classgroup:</label>
        <input class="form-control" value="@Model.Classgroup" readonly />
    </div>
    <div class="form-group">
        <label>Goals:</label>
        <input class="form-control" value="Zit blijkbaar nog niet in het project?" readonly />
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Group</th>
        <th>Member</th>
        <th>Member</th>
        <th>Member</th>
        <th>Member</th>
        <th>Member</th>
        <th>Member</th>
    </tr>
    @*@foreach (var group in Model.Playgroups)
        {
            <tr>
                <td>@group.Name</td>
            </tr>
        }*@
</table>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
</div>

