@model IEnumerable<Session>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th></th>
    </tr>
    @foreach (var session in Model)
    {
    <tr>
        <td><a asp-controller="TeacherDetail" asp-action="Index" asp-route-id="@session.SessionId">@session.Name</a></td>
        <td>@session.Description</td>
        <td>
            @if (session.ActiveSession == true)
            {
            <input type="checkbox" checked="checked" onclick="return false" />
            }
            else
            {
            <input type="checkbox"  onclick="return false" />
            }
        </td>
        <td>
            @if (session.ActiveSession == true)
            {
            <a class="alert-danger" asp-controller="Home" asp-action="Deactivate" asp-route-id="@session.SessionId">Deactivate</a>
            }
            else
            {
            <a asp-controller="Home" asp-action="Activate" asp-route-id="@session.SessionId">Activate</a>
            }
        </td>
    </tr>
    }
</table>